

h2 {
	margin-bottom: 15px;
}

hr {
    display: block;
    margin-top: .05em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.button {
    border: 1px solid #1a1a1a;
    background: #666666;
     
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -webkit-linear-gradient(top, #ffffff, #888888);
    background: -moz-linear-gradient(top, #ffffff, #888888);
    background: -ms-linear-gradient(top, #ffffff, #888888);
    background: -o-linear-gradient(top, #ffffff, #888888);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);
     
    padding: 2px 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    color: #000000;
    font-family: serif;
	font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    outline: none;
}

.button:hover {
    border: 1px solid #898989;
    background: #616161;
     
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#888888));
    background: -webkit-linear-gradient(top, #f7f7f7, #888888);
    background: -moz-linear-gradient(top, #f7f7f7, #888888);
    background: -ms-linear-gradient(top, #f7f7f7, #888888);
    background: -o-linear-gradient(top, #f7f7f7, #888888);
    background-image: -ms-linear-gradient(top, #f7f7f7 0%, #888888 100%);
     
    color: #000000;
}

.button:active {
    border: 1px solid #2e2e2e;
     
    background: #d9d9d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#616161));
    background: -webkit-linear-gradient(top, #595959, #d9d9d9);
    background: -moz-linear-gradient(top, #595959, #d9d9d9);
    background: -ms-linear-gradient(top, #595959, #d9d9d9);
    background: -o-linear-gradient(top, #595959, #d9d9d9);
    background-image: -ms-linear-gradient(top, #595959 0%, #d9d9d9 100%);
    
    color: #444444;
}

.button:disabled {
    opacity: 0.6;
    border: 1px solid #ffffff;
}

.projectButton {
    border-radius: 0px;
    display: block;
    height: 65px;
    width: 250px;
    background: #c8c8c8;
    border: 1px solid rgba(0, 0, 0, 1);
    outline: none;
    margin-bottom: 6px;
	font-family: serif;
	font-size: 15px;
}

.projectButton:hover {
    background: #c8c8c8;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.projectButton:active {
    background: #d1d1d1;
    border: 1px solid rgba(0, 0, 0, 1);
}

.projectButton:disabled {
    border: none;
}

p.console {
    font-family: monospace;
    font-size: 14;
    color: white;
    margin-top: 0;
	padding-left: 10;
}

p.consoleOld {
    font-family: monospace;
    font-size: 14;
    color: #777777;
    margin-bottom: 0;
	padding-left: 10;
}

.pulsate {
    -webkit-animation: pulsate 0.7s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.0;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.0;
    }
}

#revPerSecDiv {
	display: none;
}

#consoleDiv {
   float: left;
   background: #333333;    
   width: 100%;
   margin-bottom: 15px;
}

#column1 {
   float: left;
   width: 250px;
   margin-right: 15px;
}

#column2 {
	float: left;
	width: 250px;
	margin-right: 15px;
}

#column3 {
	float: left;
	width: 250px;
	margin-right: 15px;
}

#projectsColumn {
	float: right;
	width: 250px;
}

#restartDiv {
	position: fixed;
	bottom: 0;
	padding-bottom: 10px;
}