
* {
	font-family: monospace;
}

body {
	margin: 10px;
	font-size: 105%;
	line-height: 150%;
}

h2 {
	margin-bottom: 15px;
}

a {
	color: #00f;
}

a:hover {
	color: #09f;
}

li {
	margin-bottom: 5px;
}

#introDiv {
	margin: 5% auto;
	padding: 50px;
	width: 600px;
}