

* {
	font-family: monospace;
}

h2 {
	margin-bottom: 15px;
}

hr {
    display: block;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
	border: none;
    background-color: #000;
    color: #000;
    height: 1px;
}

.button {
	font-size: 12px;
	border-radius: 5px;
    border: 1px solid #222;
	outline: none;
	background: #eee;
	
	margin-top: 2px;
	margin-bottom: 2px;
}

.button:hover {
	background: #f9f9f9;
    border: 1px solid #222;
}

.button:active {
	background: #ccc;
    border: 1px solid #222;
}

.button:disabled {
    opacity: 0.6;
    border: 1px solid #555;
}

.pulsate {
    -webkit-animation: pulsate 0.7s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}

.toolTip {
    position: relative;
    display: inline-block;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 160px;
    background-color: #c8c8c8;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
	margin-bottom: 13px;
    
    position: absolute;
    z-index: 1;
    bottom: 75%;
    left: 50%;
    margin-left: 0px;
    
    opacity: 0;
    transition: opacity 1s;
}

.toolTip:hover .toolTipText {
    visibility: visible;
    opacity: 1;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.0;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.0;
    }
}

