
* {
	font-family: monospace;
}

body, html {
	padding: 5px;
	font-size: 105%;
}

h1, h2 {
	margin-bottom: 8px;
}

hr {
    display: block;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
	border: none;
    background-color: #000;
    color: #000;
    height: 1px;
}

a {
	color: #00f;
}

a:hover {
	color: #09f;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 5px;
}

td {
	width: 200px;
}

table.input, tr.input, th.input {
	border: none;
	width: auto;
	text-align: left;
	padding: 3px;
	font-weight: normal;
}

.button {
	border: 1px solid #222;
	outline: none;
	background: #eee;
	border-radius: 5px;
	margin-bottom: 5px;
}

.button:hover {
	background: #f9f9f9;
    border: 1px solid #222;
	cursor: pointer;
}

.button:active {
	background: #ccc;
    border: 1px solid #222;
}

.showButton {
	text-decoration: underline;
	font-size: 14px;
	display: inline-block;
	border: none;
	padding: 0px;
	background: #fff;
	outline: none;
	cursor: pointer;
}

input {
	font-size: 13px;
}

#titleDiv {
	width: 400px;
}
	
#conjDiv {
	width: 400px;
}

#aboutDiv {
	width: 400px;
	line-height: 150%;
}

#creditsDiv {
	width: 400px;
	line-height: 150%;
}