
* {
	font-family: monospace;
}

h2 {
	margin-bottom: 15px;
}

button {
	margin-top: 15px;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 5px;
}

td {
	width: 150px;
}